@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  background-color: #f2f2f2;
}

/*Barra de navegación*/
nav {
  padding: 1rem 2rem;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
}

.sidebar .navbar-nav .nav-item {
  padding: 10px 0;
}

.sidebar .navbar-nav .nav-item .nav-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
}

.sidebar .navbar-nav .nav-item .nav-link i {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item a {
  font-size: 1.2rem;
  color: rgba(41, 41, 41, 0.267);
  margin-right: 1rem;
}

.nav-item a:hover {
  color: rgb(0, 0, 0);
  background-color: #1900ff85;
}

/*Animación de imagen de perfil*/
.img-animation {
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.img-animation:hover {
  transform: scale(1.2);
}

/*Estilo de los apartados de la barra de navegación*/

.carta {
  text-align: center;
  border-radius: 5%;
  background-color: #f7f7f7;
  border-top-width: 45px;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 45px;
  margin-left: 0px;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 0px;
}


.card {
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card-header {
  background-color: #f9f9f9;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

.card-header1 {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.card-body {
  padding: 20px;
}

.card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-body li {
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card-body h4 {
  font-size: 18px;
  color: #aaa;
  margin-bottom: 20px;
}

.card-body p {
  font-size: 16px;
  margin-bottom: 10px;
}

/*Estilo del Form de contacto*/
#contacto h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

#contacto .card-body form {
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#contacto form {
  max-width: 500px;
  margin: 0 auto;
}

#contacto form .form-group {
  margin-bottom: 1.5rem;
}

#contacto form .form-control {
  border-radius: 10;
  border-color: #121212;
  box-shadow: none;
  font-size: 1.2rem;
  padding: 1.2rem;
}

#contacto form .btn-block {
  margin-top: 2rem;
  border-color: #ffffff;
  font-size: 1.2rem;
  padding: 1.2rem;
}

/*Apartado de experiencia*/

#experiencias h2 {
  font-weight: bold;
  margin-bottom: 50px;
}


/*Apartado de información*/

#informacion h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

/*Apartado de educación*/
#educacion h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

/*Apartado de habilidades*/
#habilidades h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

/*Iconos de redes sociales*/
.social-icon {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  transition: all 0.3s;
}

.social-icon:hover {
  color: #007bff;
}

/*Flecha hacia arriba*/
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
}

#back-to-top:hover {
  background-color: #0056b3;
  cursor: pointer;
}

#back-to-top.show {
  display: block;
}

.modo-oscuro {

  border-radius: 50%;
}

.modo-oscuro:hover {
  background-color: #0056b3;
  border-radius: 50%;
}

/*Cambios de colores en el Dark-Mode*/
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-mode .text-primary {
  color: #bb86fc !important;
}

body.dark-mode .bg-light {
  background-color: #222222 !important;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.267);
}

body.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: #bb86fc5d;
}

body.dark-mode .btn-primary {
  color: #fff;
  background-color: #bb86fc;
  border-color: #bb86fc;
}

body.dark-mode .modo-oscuro:hover {
  background-color: #bb86fca8;
}

body.dark-mode .img-animation {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.411);
}

/*Redes sociales*/
body.dark-mode .social-icon {
  color: #ffffff;
}

body.dark-mode .social-icon:hover {
  color: #bb86fc;
}

/*Flecha hacia arriba*/
body.dark-mode #back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #bb86fc;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
}

body.dark-mode #back-to-top:hover {
  background-color: #bb86fca8;
  cursor: pointer;
}

body.dark-mode #back-to-top.show {
  display: block;
}

body.dark-mode hr {
  border-color: #636363;
}

/*Estilo carta*/

body.dark-mode .carta {
  background-color: #222222;
}

body.dark-mode .card {
  background-color: #222222;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1)
}

body.dark-mode .card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.102);
}

body.dark-mode .card-header {
  border-color: #636363;
  background-color: #222222;
  color: rgb(255, 255, 255);
}


body.dark-mode .card-header1 {
  background-color: #201C1C;
  color: rgb(255, 255, 255);
}

body.dark-mode .card-body {
  background-color: #353535;
  border-color: #ffffff;
}